:root {
    --bg-black: black;
    --main-color: #26f456;
    --color-green-dark: #4f8b6f;
    --color-red: red;
}

.color-limegreen {
    color: limegreen;
}

.color-darkslateblue {
    color: darkslateblue;
}

.color-palevioletred {
    color: palevioletred;
}

.color-olive {
    color: olive;
}

.color-lightskyblue {
    color: lightskyblue;
}

.color-medium-darkred {
    color: #c50f0f;
}

.color-yellowgreen {
    color: yellowgreen;
}

.color-lightgray {
    color: lightgray;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}


#landing-page a:hover,
#landing-page a:active,
#landing-page a:focus {
    color: var(--main-color);
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

.road-item:hover,
.road-item:focus,
a:hover,
a:focus {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .24));
    transition: all .1s ease-in;
    transform: scale(1.1);
}


img {
    width: 100%;
    height: auto;
}

a:hover img {
    opacity: 0.4;
    animation: zoom-in-zoom-out 2s ease-out
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

#landing-page .title-section,
#landing-page .sub-title-section {
    text-align: center;
    margin: 25px 0 15px 0;
    text-transform: uppercase;
}

#landing-page .title-section span,
#landing-page .sub-title-section span {
    font-weight: 700;
    background-color: var(--main-color);
    font-size: 32px;
    padding: 0 30px;
    color: var(--bg-black);
    text-shadow: 0 0 black;
}

#landing-page .sub-title-section span {
    font-size: 22px;
    background-color: unset;
    color: var(--main-color);
}

#landing-page .counter {
    font-size: 24px;
    font-weight: 700;
}

.lanp-back-to-top {
    position: fixed;
    background: linear-gradient(45deg, #1de099, #1be02c);
    color: #fff;
    border-radius: 4px 4px 0 0;
    right: 0px;
    bottom: 10px;
    transition: none;
    width: 50px;
    height: 50px;
    visibility: hidden;
}

.lanp-back-to-top i {
    line-height: 0;
    font-size: 18px;
}

.lanp-back-to-top:hover {
    background: #1de099;
    color: #fff;
}

.lanp-back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.hero_button {
    padding: 0 5px;
    color: var(--main-color);
    background: url(../images/button-hero-1.png);
    height: 70px;
    width: 210px;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    margin: 5px;
}

.hero_button:hover,
.btn-trailer:hover {
    color: #fff;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .24));
    transition: all .1s ease-in;
    transform: scale(1.03);
}

.hero_button.contract {
    color: white;
    text-shadow: 2px 0 #28a745;
}

.btn-trailer {
    background: linear-gradient(167deg, #be4a4a, transparent);
    position: relative;
    border: 2px solid var(--main-color);
    color: #3df4a8;
    text-shadow: 1px 0px #568761;
    font-size: 14px;
    font-weight: 400;
    min-width: 150px;
    text-transform: uppercase;
}

/*------------------
  Custom carousel
--------------------*/
#landing-content .carousel-indicators {
    bottom: 5px;
}

#landing-content .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: var(--color-green-dark)
}

#landing-content .carousel-indicators li.active {
    background-color: var(--main-color)
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: black;
}

#header.header-scrolled {
    height: 70px;
    transition: all 0.5s;
}

#logo .img-logo {
    width: 80px;
}

/*--------------------------------------------------------------
 Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    color: var(--color-green-dark);
    font-size: 16px;
    padding: 0 2px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.2px;
    position: relative;
    font-weight: 700;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--main-color);
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #333333;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #1dc8cd;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(26, 26, 26, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #333333;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #1dc8cd;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

#home {
    position: relative;
    background: url('../images/earth_medium.png') no-repeat;
    background-size: cover;
    background-color: black;
    padding-bottom: 20px;
    background-position: center;
}

#home .home-container {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}

#home .home-img {
    width: 400px;
    margin-top: 100px;
}

#home .title-section span {
    background: linear-gradient(195deg, black, transparent);
    font-size: 34px;
    padding: 0 30px;
    color: var(--main-color);
    border: 1px solid var(--color-red);
    text-shadow: 2px 0px #74a77f;
    word-spacing: 5px;
}

#home .btn-group-home {
    margin: 35px 0 15px 0;
}

#home .counter-container {
    text-align: center;
    margin: 10px 0;
    background: url('../images/bg_counter.png') no-repeat center;
    width: 100%;
    padding: 40px 0;
}

#home .counter-item {
    font-weight: 700;
}

#home .counter {
    color: var(--main-color);
    text-shadow: 1px 0px #8df3a4;
}

#home .counter-item .description {
    color: #fff;
    background-color: darkred;
    padding: 0 5px 5px;
    text-shadow: 1px 0px #8df3a4;
    font-weight: 500;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about {
    position: relative;
    display: block;
    color: #fff;
    height: auto;
    background: url('../images/bg_about_medium.png') no-repeat center;
    background-size: cover;
    padding: 10px 2px;
}


/*------------------
  Base
--------------------*/

#base .base-bg-slider {
    background: url(../images/artboard_82.png) no-repeat center;
    padding: 6px 0;
    margin: 100px 0 40px 0;
    background-size: cover;
}

#base .base-bg-slider .title-section span {
    position: absolute;
    top: -26px;
    left: 40%;
}

#base .electric {
    text-align: left;
}

#base .electric span {
    background-color: black;
    color: #d8f5da;
    text-shadow: 3px 0 #06fb21;
}

.custom-owl-container .owl-controls {
    width: 104%;
    position: relative;
}

.custom-owl-container .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.custom-nav {
    position: absolute;
    top: -150px;
    left: 5px;
    right: 0;
    height: 100px;
    width: 100%;
}

#partner .custom-nav {
    display: none;
}

.custom-nav .owl-prev,
.custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}

.custom-nav .owl-prev {
    left: 0;
    outline: none;
    cursor: pointer;
}

.custom-nav .owl-next {
    right: 0;
    outline: none;
    cursor: pointer;
}

/*font bootstrap*/
.custom-nav .bi {
    color: var(--main-color);
    font-size: 35px;
    text-shadow: 0 0 3px white;
}


#base,
#benefit,
#tokenomic,
#roadmap {
    position: relative;
    display: block;
    color: #fff;
}

.single-img-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-img-inner .single-img {
    width: 300px;
}

#benefit {
    background: url(../images/artboard_83.png) no-repeat center;
    margin-top: 100px;
    padding: 20px 0;
    text-align: center;
}


#benefit .btn-group-help {
    list-style-type: none;
    text-transform: uppercase;
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
}


#benefit .btn-group-help li {
    display: contents;
}

.btn-group-help .hero_button {
    background: url(../images/button-hero-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 700;
    height: 50px;
    width: 140px;
    margin: 10px;
}

#benefit .title-section {
    margin: 50px 0;
}

.benefit-slider-inner {
    background-color: black;
    overflow: hidden;
    height: auto;
    position: relative;
    top: -50px;
}

#carouselBenefit {
    border: 3px solid var(--main-color);
    margin-top: 50px;
    border-top: unset;
    height: 100%;
    padding: 15px 30px;
}

#carouselBenefit .carousel-inner {
    margin-bottom: 30px;
}

#carouselBenefit .content {
    display: flex;
    text-align: left;
    height: 210px;
}


#carouselBenefit .item-img img {
    width: auto;
    height: 160px;
}

#carouselBenefit .item-desc {
    margin: 20px 5px 20px 30px;
}


/*------------------
  Tokenomic
--------------------*/

#tokenomic {
    background: url(../images/artboard_82.png) repeat center;
    background-size: cover;
    margin: 100px 0;
}

#tokenomic .group-title {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
    margin-top: 200px;
}

#tokenomic .img-39 {
    width: 300px;
}

#tokenomic .title-section {
    text-align: left;
}

#tokenomic .title-section span {
    background-color: var(--bg-black);
    padding: 0 30px;
    color: var(--main-color);
}

#tokenomic .counter:after {
    content: "%";
}

.chart-label-desc {
    display: inline-flex;
    width: 100%;
    margin-bottom: 5px;
}

.chart-label-desc .counter {
    width: 15%;
    margin: 0 10px 5px 0;
}

#tokenomic .chart-label-desc .desc {
    width: 85%;
}

#tokenomic #chart {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    min-height: 250px;
}

/*------------------
  Roadmap
--------------------*/

#roadmap {
    background: url('../images/Artboard 41.png') no-repeat center;
}

/*Roadmap*/
#roadmap .title-section {
    margin: -15px 0 40px 0;
}

.road-map {
    display: flex;
}

.road-map:after {
    background: url(../images/bg_line_curve.png) no-repeat center;
    content: " ";
    position: absolute;
    top: 40%;
    left: 1px;
    height: 100px;
    width: 100%;
    background-size: cover;
    display: block;
    z-index: -999999;
}


@media (min-width: 1200px) {
    .road-map:after {
        height: 110px;
        width: 96%;
    }

}

.road-item {
    width: 100%;
    position: relative;
    margin: 0;
    height: 580px;
}

.box-container {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    left: 10px;
    padding: 0 2px;
}

.road-item .bottom {
    position: absolute;
    bottom: 0;
    left: 4px;
}

.box-container .bottom {
    position: absolute;
    bottom: 0;
}

.road-item.third .box-container {
    left: -14px;
}

.box-container.fourth {
    left: -22px;
}

.box-container.fifth {
    left: -36px;
}

.box-container .card {
    height: 100%;
}

.card-bg-darkgreen {
    background-color: green;
}

/*------------------
  Arrow
--------------------*/
.arrow-top,
.arrow-bottom {
    border-radius: 20px;
    height: 100%;
    overflow: hidden;
}

.arrow-top:after {
    content: " ";
    position: absolute;
    left: 40%;
    bottom: -28px;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    border-top: 30px solid green;
}

.arrow-bottom:after {
    content: " ";
    position: absolute;
    right: 43%;
    top: -30px;
    border-top: none;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: 30px solid green;
}

/*------------------
  Card
--------------------*/
.card-bg-darkred {
    background-color: #7c0011;
}

.third .arrow-top:after {
    border-top: 30px solid #8f1122;
    z-index: -9999;
}

.fourth .arrow-bottom:after {
    border-bottom: 30px solid #8f1122;
    z-index: -9999;
}

.box-container .card-header {
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 black;
}

.box-container .card-body {
    padding: 1rem 1rem;
    list-style-type: square;
    margin-left: 8px;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    height: 130px;
}

@media screen and (min-width: 1024px) {

    .box-container {
        height: 38%;
    }

    .road-item.fourth .box-container {
        left: -20px;
    }


    .road-item.fifth .box-container {
        left: -36px;
    }

}

@media (min-width: 1200px) {

    .box-container {
        left: 25px;
    }

    .road-item.second .box-container {
        left: -4px;
    }

    .road-item.third .box-container {
        left: -35px;
    }

    .road-item.fourth .box-container {
        left: -65px;
    }


    .road-item.fifth .box-container {
        left: -92px;
    }

}


.bg-roadmap {
    background: linear-gradient(to bottom, #101011, transparent);
    padding: 50px 0;
}

#landing-content {
    background: url('../images/bg_landing_medium.png') repeat-y center;
    background-size: 130% 40%;
    background-color: #212529;
    overflow: hidden;
}

/*------------------
  Partner
--------------------*/

#carouselBacker {
    margin: 50px 0 80px 0;
}

#partner {
    padding: 30px 0;
}

#partner #partner-gallery {
    margin-top: 40px;
    width: 100%;
    padding: 0;
    position: relative;
}

#partner-gallery .vertical-item {
    display: inline-block;
    width: 19%;
}

#partner-gallery .item-media {
    position: relative;
    margin: 7px;
}

#build-create-earn {
    height: 310px;
    text-align: center;
    padding: 50px 0 20px 0;
    background: linear-gradient(162deg, black, transparent);
}

/*------------------
  Community
--------------------*/

#community {
    background: linear-gradient(158deg, #f8f9fa, transparent);
    color: black;
    font-weight: 600;
    padding: 40px 0;
}

#community .title-section,
#community .sub-title-section {
    text-align: left;
}

#community .title-section span,
#community .sub-title-section span {
    background-color: var(--bg-black);
    padding: 0 30px;
    color: white;
    text-align: left;
    font-weight: normal;
}

#community .title-section span {
    font-size: 26px;
}

/*------------------
  Social
--------------------*/
.social-footer {
    display: inline-flex;
}

.social-footer a {
    padding: 2px;
    color: black;
}

.sprite-social {
    display: inline-block;
}

.css-sprite-social-facebook {
    background: url('../images/css-sprite-social.png') -3px -150px;
    width: 50px;
    height: 50px;
}

.css-sprite-social-mail {
    background: url('../images/css-sprite-social.png') -7px -200px;
    width: 46px;
    height: 50px;
}

.css-sprite-social-telegram {
    background: url('../images/css-sprite-social.png') -0px 0px;
    width: 53px;
    height: 50px;
}

.css-sprite-social-twitter {
    background: url('../images/css-sprite-social.png') -0px -50px;
    width: 53px;
    height: 50px;
}

.css-sprite-social-website {
    background: url('../images/css-sprite-social.png') -5px -100px;
    width: 48px;
    height: 50px;
}

/*------------------
  Footer
--------------------*/
#footer {
    background: linear-gradient(162deg, black, transparent);
    margin-top: 10px;
    padding: 39px 10px;
}

#footer,
#footer a {
    color: #fff;
}

#footer h3 {
    color: var(--main-color);
}

@media screen and (min-width: 1024px) {

    #tokenomic .title-section,
    #landing-page .sub-title-section {
        margin: 5px 0 10px 0;
    }

    #roadmap .title-section span {
        padding: 0 18px;
        margin-right: 50px;
    }

    #benefit .btn-group-help {
        display: inline-flex;
    }

}

@media screen and (min-width: 1200px) {

    #landing-content {
        background: url('../images/bg_landing.png') repeat-y center;
        background-size: 130% 40%;
        background-color: #212529;
    }

    #home {
        position: relative;
        background: url('../images/earth.png') no-repeat center;
        background-size: cover;
        background-color: black;
        padding-bottom: 20px;
    }

    #about {
        background: url('../images/bg_about.png') no-repeat center;
        background-size: cover;
    }
}

@media (max-width: 767px) {

    #landing-content {
        background-size: auto;
        background-position: center;
    }

    #landing-page .title-section span {
        font-size: 24px;
    }

    #logo .img-logo {
        width: 56px;
    }

    #home {
        background-size: auto;
        background-position: top;
    }

    #home .title-section span,
    .title-section span,
    #tokenomic .title-section span {
        font-size: 24px;
        padding: 0 2px;
        word-spacing: 2px;
    }

    #home .counter-item {
        margin-bottom: 20px;
    }

    #home .counter {
        font-size: 20px;
    }

    #home .home-img {
        width: 90%;
    }

    #home .btn-group-home {
        margin: 0 0 15px 0;
    }

    #home .home-container {
        padding-bottom: 5px;
    }


    /*#benefit*/
    #carouselBenefit .content {
        display: block;
        text-align: center;
        height: 280px;
    }

    #carouselBenefit {
        padding: 8px 0;
        margin: 0;
    }

    #partner .custom-nav {
        display: block;
    }

    #partner .owl-carousel .owl-item img {
        display: block;
        width: 80%;
        margin-left: 34px;
    }

    /*#partner*/
    #carouselBacker {
        margin: 15px 0;
    }

    #partner-gallery .vertical-item {
        width: 48%;
        margin: auto;
        min-width: 140px;
        max-width: 330px;
    }

    #partner-gallery .item-media {
        margin: 10px 0px;
    }

    #tokenomic .group-title {
        top: -60px;
        margin-top: 0;
        margin-bottom: 0;
    }

    #tokenomic .group-title .title-section {
        margin: auto;
    }

    #base .base-bg-slider .title-section span {
        position: relative;
        top: -60px;
        left: 0;
    }

    /*#base*/
    .custom-owl-container .owl-carousel .owl-stage-outer {
        margin: auto;
    }

    .custom-owl-container .owl-controls {
        width: 100%;
    }


    /*Roadmap*/
    #roadmap .title-section {
        margin: 0 0 10px 0;
    }

    #roadmap .bg-roadmap {
        padding: 20px 0;
    }

    #footer {
        text-align: center;
    }
}

@media screen and (max-width: 1023px) {
    /* Handle card roadmap remove style */

    .road-item.third .box-container {
        left: 0;
    }


    .box-container,
    .road-item .bottom {
        left: 0;
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    .road-map {
        display: block;
    }

    .box-container .arrow-top:after,
    .box-container .arrow-bottom:after {
        display: none;
    }

    .road-item {
        margin: 20px 0;
        height: 130px;
    }

    .box-container .card-body {
        height: auto;
    }

    .road-item.second .card-body,
    .road-item.fourth .card-body {
        margin-top: 40px;
    }

    .road-item.second .card-header,
    .road-item.fourth .card-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .road-map:after {
        display: none;
    }

    /* End card roadmap remove style */
}